@model KoiShip_DB.Data.Models.ShippingOrder

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShippingOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PricingId" class="control-label"></label>
                <select asp-for="PricingId" class ="form-control" asp-items="ViewBag.PricingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShipMentId" class="control-label"></label>
                <select asp-for="ShipMentId" class ="form-control" asp-items="ViewBag.ShipMentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdressTo" class="control-label"></label>
                <input asp-for="AdressTo" class="form-control" />
                <span asp-validation-for="AdressTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingDate" class="control-label"></label>
                <input asp-for="ShippingDate" class="form-control" />
                <span asp-validation-for="ShippingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDeliveryDate" class="control-label"></label>
                <input asp-for="EstimatedDeliveryDate" class="form-control" />
                <span asp-validation-for="EstimatedDeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
